In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

data = {
    'apples': [6, 2, 7, 1],
    'oranges': [1, 2, 9, 3]
}

df = pd.DataFrame(data) # Create a DataFrame from the data

df # Display the DataFrame


customer_names = ['Alice', 'Bob', 'Charlie', 'Dave']

df.set_index(pd.Index(customer_names), inplace=True) # Note that we must use the inplace argument to modify the DataFrame in place

df

         apples  oranges
Alice         6        1
Bob           2        2
Charlie       7        9
Dave          1        3

In [2]:
df.loc['Bob']

apples     2
oranges    2
Name: Bob, dtype: int64

In [3]:
df.iloc[0] # same as df.loc['Alice'] only this time we're locating by index

apples     6
oranges    1
Name: Alice, dtype: int64